.title-bar {
    -fx-background-color: #336699;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.title-bar .title {
    -fx-font-size: 24;
    -fx-text-fill: #ffffff;
}

.title-bar .user-image {
}

.title-bar .user-name {
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
}

.title-bar .close-button {
    -fx-fill: #ffffff;
}
