# Connection parameters for RabbitMQ
rabbitmq.host=localhost
rabbitmq.port=5672
rabbitmq.username=guest
rabbitmq.password=guest
rabbitmq.virtualHost=

# Timeouts for RabbitMQ
rabbitmq.connectionTimeoutMs=1000
rabbitmq.handshakeTimeoutMs=1000

# How long to wait before retrying when something goes wrong
rabbitmq.reconnectionDelayMs=1000

# Name of exchange to listen to for authentication messages
rabbitmq.authentication.exchange=authentication

# Integration testing user account
rabbitmq.authentication.exchange.integration-test.enabled=false
rabbitmq.authentication.exchange.integration-test.user=
rabbitmq.authentication.exchange.integration-test.password=

# Connection parameters for JDBC
jdbc.url=
jdbc.user=
jdbc.password=
jdbc.testQuery=SELECT 1

# Dialect that JOOQ should use when generating SQL
jooq.dialect=POSTGRES
